NationalFundingDev/Service References/EmployeeService/ActiveDirectory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sifta.water.usgs.gov/ServicesDev/WCF/Employee/ActiveDirectory.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SiftaWebServices.WCF.Employee" />
  <xs:element name="GetEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SiftaWebServices.WCF.Employee" minOccurs="0" name="GetEmployeeResult" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>